/* ------------------------------- Unseen CSS ------------------------------- */

html {
    margin: 0;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


/* -------------------------------- Const CSS ------------------------------- */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #D7A8AF;
}


/* --------------------------------- NavCard -------------------------------- */

.navCard {
    position: absolute;
    flex-direction: row-reverse;
    display: flex;
    width: 215px;
    height: 360px;
    background-color: aquamarine;
}


/* ------------------------------- nav button ------------------------------- */

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    background-color: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* ----------------------------------- Nav Hamburger ---------------------------------- */

.menu-btn_burger {
    width: 50px;
    height: 6px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px black;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px black;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-16px);
}

.menu-btn_burger::after {
    transform: translateY(16px);
}


/* ---------------------------- NavBar Animation ---------------------------- */

.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}


/* -------------------------------- Index CSS ------------------------------- */


/* -------------------------------- Main Body ------------------------------- */


/* end index CSS */


/* search bar*/


/*reqForm CSS*/


/*calc CSS*/


/*profile CSS*/


/*Logout CSS*/